<h1>所有頻道</h1>


<%= link_to "創建頻道" ,new_channel_path %>

<%= render 'channels/search_form.html.erb' %>


<section class="section">
  <div class="container">
    <% @channel.each do |channel| %>
      <%= link_to channel.title, channel %></p>
      <%= channel.description %>
      <%= link_to "加入" , join_channel_path(channel.id),method: "post" %>
      <%= link_to "退出" , new_channel_path(channel.id)  %>
    <% end %>
  </div>
</section>