<h1>創建頻道</h1>


<%= form_for @channel do |form| %>

  <div>
    名稱：<%= form.text_field :title %>
  </div>


  <div>
    描述：<%= form.text_field :description %>
  </div>

  <div>
    公開或私人：<%= form.text_field :status %>

  </div>

  <%= form.submit %>
<% end %>