<div data-controller="message_switch"><%= form_with(model: message , local:true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= content_tag(:div, "", class:"pickerContainer", data: {
     emoji_picker_target: "pickerContainer"
   }) %>
  <div class="field emoji-field">
    <div class="flex-none px-4 pb-6">
            <div class="flex overflow-hidden border-2 rounded-lg border-grey">
                  <%= form.text_area :content, rows: 5 ,style: 'width: 100%', placeholder: "Enter message here!", data: {message_switch_target: "trixEditor"} ,:class=>"message_value"%>
            </div>
        </div>

  </div>
  <%= form.hidden_field :room_id, value: room.id %>

  <div class="actions">
    <%= form.submit data: { disable_with: false,action: "input=>message_switch#submit"} %>
  </div>
<% end %></div>

   <div class="flex justify-between align-center">
      <span class="p-4 my-6 text-2xl font-semibold text-gray-900">邀請人員加入</span>
      <span class="px-2 py-1 my-6 mr-6 text-2xl text-gray-400 bg-white rounded-lg hover:bg-gray-100 "><%= link_to "X", groups_path %></span>
    </div>
    <%= form_with url: join_group_path do |form|  %>
      <%= form.email_field :email ,:class=>"text-gray-700 shadow border rounded border-gray-300 focus:outline-none focus:shadow-outline py-1 px-3 mb-3 p-4 ", placeholder:"請輸入信箱"  %>
      <%= form.submit "發送",:class=>"bg-kohbai hover:bg-green-700 rounded-lg py-3 px-6 border-b-4 transition duration-300 text-white p-4" %>
    <% end %>