<div class="flex items-start mb-4 text-sm">
  <%= image_tag(("logo.png"), class: "height:50, width:50")%>
  <div class="flex-1 overflow-hidden">
    <div>
      <span class="font-bold"><%= message.user.email %></span>
      <span class="text-xs text-grey"><%= message.created_at %></span>
    </div>
    <p class="leading-normal text-black"><%= message.content %></p>
    <%= link_to "delete", message_path(message.id), method: "delete", data: {confirm: "Sure to delete?"}%>
  </div>
</div>
