<header class="flex items-center justify-between px-4 border-b border-gray-200 h-18">
  <div class="flex flex-col w-full h-full">
    <div class="flex items-center justify-between mt-auto">
      <div class="flex items-center p-2 gap-x-1">
        <img src="assets/logo.png" class="w-10">
        <h1><%= link_to "LAX" ,root_path ,:class=>"text-xl font-medium text-gray-500" %></h1>
      </div>
      <div class="flex items-center gap-x-3">
        <label class="relative z-30 group">
          <button class="w-7 h-7 rounded-full bg-gradient-to-tr from-[#ff5263] to-[#fcbd01] text-xs flex items-center justify-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" class="fill-current">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
            </svg>
          </button>
          <nav class="absolute top-full z-10 transition-all translate-y-2 text-sm right-0 bg-white rounded shadow-box w-[21.25rem] opacity-0 invisible group-focus-within:opacity-100 group-focus-within:visible">
            <%= link_to "頻道" , groups_path , :class=>"flex items-center pl-8 pr-8 h-10 text-sm hover:bg-gradient-to-r group-scope hover:text-white from-[#ff5263] to-[#fcbd01]"%>
            <%= link_to "專案" , projects_path , :class=>"flex items-center pl-8 pr-8 h-10 text-sm hover:bg-gradient-to-r group-scope hover:text-white from-[#ff5263] to-[#fcbd01]"%>
            <%= link_to "討論串" , groups_path , :class=>"flex items-center pl-8 pr-8 h-10 text-sm hover:bg-gradient-to-r group-scope hover:text-white from-[#ff5263] to-[#fcbd01]"%>
          </nav>
        </label>
        <div class="relative z-30 group">
          <button class="text-xs text-white rounded-full w-7 h-7 bg-primary">
            <%= current_user.email.first(2) %>
          </button>
          <nav class="absolute top-full z-10 transition-all translate-y-2 text-sm right-0 bg-white rounded shadow-box w-[21.25rem] opacity-0 invisible group-focus-within:opacity-100 group-focus-within:visible">
            <div class="h-px bg-gray-200"></div>
            <%= link_to "Log out" , destroy_user_session_path,method:"delete" , :class=>"w-full h-9 my-1 flex items-center justify-center text-gray-600 hover:bg-gray-100" %>
          </nav>
        </div>
      </div>
  </div>
</header>