<h1>新增任務</h1>
<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @task ,url: project_tasks_path do |form| %>

  <div>任務標題：<%= form.text_field :title %></div>

  <div>任務敘述：<%= form.text_field :content %></div>

  <div>任務開始時間：<%= form.text_field :start_time %></div>

  <div>任務結束時間：<%= form.text_field :end_time %></div>  

  <%= form.submit  %>

<% end %>