<section class="mx-auto w-5/6 md:w-4/6">
  <div class="flex justify-between  border-b-2" >
    <div>
      <h3 class="text-2xl my-2">所有頻道</h3>
    </div>
    <div>
      <%= link_to "創建頻道" ,new_group_path %>
    </div>
  </div>
  <h4><%= Group.count %>個頻道<h4>
    <% @groups.each do |group| %>
      <div class="mb-4 py-2 border-b-2 p-2">
        <h4 class="text-xl"><%= link_to group.title, group %></h4>

          <div class="text-sm">
            <span><%= group.users.count %>個會員</span>
            <span><%= group.description %></span>
          </div>
        <% if current_user.join?(group) %>
         <%# 如果使用者有加入這個頻道 %>
          <%="已加入"%>
          <%= link_to "退出" , quit_group_path(group),method: "post" %>
        <% else %>
          <%= link_to "加入" , join_group_path(group),method: "post" %>
        <% end %>
      </div>
    <% end %>
</section>


