<section class="w-full">
  <div class="flex justify-between mt-8">
    <h2 class="mx-4 my-4 text-xl font-semibold pl-4">所有頻道</h2>
    <div class="mx-4 my-4 pl-4">
      <%= link_to "創建頻道",new_group_path ,:class=>"w-full px-3 py-2 text-white transition duration-300 border-b-4 rounded-lg bg-deepBlue hover:bg-gray-400 text-sm" %>
    </div>
  </div>
  <hr class="mb-8">
  <div class="mb-12 pl-4">
    <%= search_form_for @group_query do |f| %>
      <div class="flex relative">
        <%= f.search_field :title_or_description_cont, placeholder:"請輸入名稱或描述", :class=>"h-12 w-screen outline-none transition-all rounded-sm bg-transparent pl-8 pr-4 mr-4 text-sm border border-gray-300 " %>
        <button class="absolute bottom-3 left-1">
          <%= f.submit "  ", :class=>"bg-transparent text-white rounded-sm p-3 ml-2" %>
          <img src="https://cdn-icons-png.flaticon.com/512/875/875623.png" class="w-6">
        </button>
      </div>
    <% end %>
  </div>
  <span class="block p-2 text-gray-700 mb-2 pl-4">共 <%= Group.count %> 個頻道</span>
  <hr class="">
      <% @groups.each do |group| %>
        <% if current_user.join?(group) %>
          <div class="py-4 px-6 transition bg-white hover:bg-gray-100 pl-8">
            <div class="flex justify-between align-center">
              <div class="flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/2228/2228655.png" class="w-10 h-10 mr-8">
                <div>
                  <div class="flex pb-2">
                    <span class="bold text-xl pr-2 text-gray-500 ">#</span>
                    <p class="text-xl text-black"><%= link_to group.title, group %></p>
                  </div>
                  <div>
                    <span class="pr-2 text-sm text-green-700">✓ 已加入</span>
                    <span class="pr-2 text-sm"> | </span>
                    <span class="text-sm text-gray-600 pr-2"><%= group.users.count %>個成員</span>
                    <span class="pr-2 text-sm"> | </span>
                    <% if group.description != "" %>
                      <span class="text-sm pr-2 text-gray-600"><%= group.description %></span>
                    <% else %>
                      <span class="text-sm pr-2 text-gray-600">這個頻道將會一直廣納多元的聲音。這裡很適合發布公告和進行團隊對話</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <button>
                <%= link_to "退出" , quit_group_path(group),method: "delete" ,:class=>"px-6 py-3 text-white transition duration-300 bg-gray-300 border-b-4 rounded-lg hover:bg-gray-500 text-base"%>
              </button>
            </div>
          </div>
          <% else %>
          <div class="py-4 px-6 transition bg-white hover:bg-gray-100 pl-8">
            <div class="flex justify-between align-center ">
              <div class="flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/2228/2228655.png" class="w-10 h-10 mr-8">
                <div>
                  <div class="flex pb-2">
                    <span class="bold text-xl pr-2 text-gray-500 ">#</span>
                    <p class="text-xl text-black"><%= link_to group.title, group %></p>
                  </div>
                  <div>
                    <span class="pr-2 text-sm text-red-700">▲ 未加入</span>
                    <span class="pr-2 text-sm"> | </span>
                    <span class="text-sm text-gray-600 pr-2"><%= group.users.count %>個成員</span>
                    <span class="pr-2 text-sm"> | </span>
                    <% if group.description != "" %>
                      <span class="text-sm pr-2 text-gray-600"><%= group.description %></span>
                    <% else %>
                      <span class="text-sm pr-2 text-gray-600">快來加入我們。這裡很適合進行團隊對話</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <button><%= link_to "加入" , join_group_path(group), method: "post", :class=>" px-6 py-3 text-white transition duration-300 border-b-4 rounded-lg bg-deepBlue hover:bg-gray-400 text-base" %></button>
            </div>
          </div>
          <% end %>
          <hr>
      <% end %>
    </div>
  </div>
</section>
