<section class=" max-w-full mx-auto ">
  <div class="max-w-7xl mx-auto ">
    <div class=" flex justify-between items-center border-b-2" >
      <div>
        <h2 class="text-2xl p-3 my-2">所有頻道</h2>
      </div>
      <div>
        <h3 class="max-w-full bg-blue-500 hover:bg-green-700 rounded-lg py-3 px-6 border-b-4 transition duration-300 text-white"><%= link_to "創建頻道" ,new_group_path %></h3>
      </div>
    </div>
    <div class="mx-auto w-5/6 ">
      <div>
        <h4 class="my-2 border-b-2 p-2 text-gray-700">共<%= Group.count %>個頻道<h4></h4>
      </div>
      <% @groups.each do |group| %>
        <div class="my-2 border-b-2 p-2">
          <div class="flex justify-between align-center">
            <div>
              <h4 class="text-1xl text-blue-500"><%= link_to group.title, group %></h4>
              <div class="text-sm mb-2">
                <div><%= group.users.count %>個成員</div>

              </div>
            </div>
            <% if current_user.join?(group) %>
              <button class="bg-gray-400 hover:bg-green-700 rounded-lg py-3 px-6 border-b-4 transition duration-300 text-white"><%= link_to "退出" , quit_group_path(group),method: "post" %></button>
            <% else %>
              <button class="bg-blue-500 hover:bg-green-700 rounded-lg py-3 px-6 border-b-4 transition duration-300 text-white"><%= link_to "加入" , join_group_path(group),method: "post" %></button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


