<h1 class="bg-red-500">所有頻道</h1>
<%= link_to "創建頻道" ,new_group_path %>
  <% @group.each do |group| %>
    <div>
      <%= link_to group.title, group %>
      <%= group.description %>

        <%= link_to "加入" , join_group_path(@group),method: "post" %>
        <%= link_to "退出" , quit_group_path(@group),method: "post"  %>

    </div>
  <% end %>


