<h2>所有頻道</h2>
<%= link_to "創建頻道" ,new_group_path %>
  <% @groups.each do |group| %>
    <div>
      <%= link_to group.title, group %>
      <%= group.description %>
        <% if current_user.join?(group) %>
        <%# 如果使用者有加入這個頻道 %>
          <%= link_to "退出" , quit_group_path(group),method: "post" %>
        <% else %>
          <%= link_to "加入" , join_group_path(group),method: "post" %>
        <% end %>
    </div>
  <% end %>


