<section class="flex flex-wrap">
  <h3 class="bg-indigo-darkest text-purple-lighter flex-none w-24 p-6 hidden md:block"><%= @group.title %><h3>
<div  class=" h-96 ">
  <div class="h-4/5 ">
    <div class="border-b-2 ">
      <h3 class="text-5xl ml-10 mb-3"><%= @group.title %><h3>
    </div>
  </div>
  <% if current_user.join?(@group) %>
    <div class="my-6 text-2xl text-blue-400 font-semibold ml-10 mt-8"><%= @group.description %><%= link_to "編輯說明" , edit_group_path(@group) %></div>
  <% else %>
    <%= link_to "詳情" , content_group_path(@group.id),method:"post" %>
    <%= link_to "加入頻道" , join_group_path(@group),method: "post" %>
    <%= link_to "返回所有頻道" , groups_path %>
  <% end %>
</section>


