
<div class="grid w-4/5 mx-auto mt-10 gap-y-24">
  <%= Time.now.strftime("%Y-%m月%d日") %>
  <div>
    <h3 class="text-xl font-medium outline-none" contenteditable>
      <%= current_user.username %> 你好!
    </h3>
  </div>
  <div class="flex justify-between min-w-max">
    <div class="flex-grow p-10 border-2 rounded-2xl">
      <button class="flex items-center w-full p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:bg-light">
        <div class="flex items-center justify-center w-8 h-8 mr-3 border border-dashed rounded-full border-icon text-icon">
        </div>
        專案
      </button>
      <div class="grid grid-cols-2 gap-2 ">
        <button class="flex items-center w-full p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:bg-light">
          <div class="flex items-center justify-center w-8 h-8 mr-3 border border-dashed rounded-full border-icon text-icon">
            <svg
              class="fill-current"
              height="16"
              focusable="false"
              viewBox="0 0 32 32">
              <path d="M26,14h-8V6c0-1.1-0.9-2-2-2l0,0c-1.1,0-2,0.9-2,2v8H6c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h8v8c0,1.1,0.9,2,2,2l0,0c1.1,0,2-0.9,2-2v-8h8c1.1,0,2-0.9,2-2l0,0C28,14.9,27.1,14,26,14z"></path>
            </svg>
          </div>
          <%= link_to "建立專案" , new_project_path %>
        </button>
        <% @projects.each do |project| %>
          <div class="flex items-center w-full p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:bg-light">
          <div class="flex items-center justify-center w-8 h-8 mr-3 border border-dashed rounded-full border-icon text-icon">
          </div>
          <%= link_to project.title,project %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="p-10"></div>
      <div class="flex-grow p-10 border-2 rounded-2xl">
      <button class="flex items-center w-full p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:bg-light">
        <div class="flex items-center justify-center w-8 h-8 mr-3 border border-dashed rounded-full border-icon text-icon">
        </div>
        專案
      </button>
      <div class="grid grid-cols-2 gap-2 ">
        <button class="flex items-center w-full p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:bg-light">
          <div class="flex items-center justify-center w-8 h-8 mr-3 border border-dashed rounded-full border-icon text-icon">
            <svg
              class="fill-current"
              height="16"
              focusable="false"
              viewBox="0 0 32 32">
              <path d="M26,14h-8V6c0-1.1-0.9-2-2-2l0,0c-1.1,0-2,0.9-2,2v8H6c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h8v8c0,1.1,0.9,2,2,2l0,0c1.1,0,2-0.9,2-2v-8h8c1.1,0,2-0.9,2-2l0,0C28,14.9,27.1,14,26,14z"></path>
            </svg>
          </div>
          <%= link_to "建立專案" , new_project_path %>
        </button>
        <%  @tasks = current_user.tasks %>
          <div class="flex items-center w-full p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:bg-light">
          <div class="flex items-center justify-center w-8 h-8 mr-3 border border-dashed rounded-full border-icon text-icon">
          </div>
          </div>
      </div>
    </div>
  </div>
</div>






