<% tasks.each do |task| %>
  <div data-controller="done"
       data-task-id="<%=task.id%>"
       data-status="<%=task.status%>"
       class="card bg-yellow-400 m-2 p-3 w-50" >
    <div>
      <button data-action="click->done#status_done"
              data-done-target="doneBtn">☐</button>
      任務名稱：<%= task.title %>
    </div>
    <div>任務描述：<%= task.content %></div>
    <div>開始日期：<%= task.start_time&.strftime('%Y-%m-%d')%></div>
    <div>截止日期：<%= task.end_time&.strftime('%Y-%m-%d') %></div>
    <div>執行人員：<%= task.user&.nickname %></div>
    <div><%= link_to "x",task_path(task),method: "delete", data: { confirm: "是否刪除此任務" } %></div>
    <div><%= link_to "修改",edit_task_path(task) %></div>
  </div>
<% end  %>