<% tasks.each do |task| %>
  <div data-controller="done"
       data-task-id="<%=task.id%>"
       data-status="<%=task.status%>"
       class="card bg-white m-2 p-2 w-50 rounded-lg shadow-lg relative " >
    <div class="flex justify-between border-b-stone-300 border-y">
      <div classs=""><button data-action="click->done#status_done"
              data-done-target="doneBtn"
              class="pl-0.5">☐</button>
      任務名稱：<%= task.title %></div>
      <div><%= link_to "྾",task_path(task),method: "delete", data: { confirm: "是否刪除此任務" } %></div>
    </div>
    <div class="pb-0.5 pl-5">任務描述：<%= task.content %></div>
    <div class="pb-0.5 pl-5">開始日期：</div>
    <div class="pb-0.5 pl-5">截止日期：<%= taipei_time(task.start_time)%>-<%=taipei_time(task.end_time)%></div>
    <div class="pb-0.5 pl-5">執行人員：<%= task.user&.nickname %></div>
    <div class="pb-0.5 pl-5">優先順序：<%= task.priority %> </div>
  
    <div class="pb-0.5 pl-5"><%#= link_to "修改",edit_task_path(task) %></div>

    <div class="pb-0.5 pl-5">
      <button class="updateBtn">修改</button>
      <div class="dispaly task_update m-3 w-1/3  bg-white rounded-md pb-2 fixed z-10 right-0 bottom-0"><%= render "TaskForm", model: task,user: user, url: task_path(task.id)%></div>
      </div>
    </div>
<% end  %>