<div class="flex flex-col bg-white">
  <%= form_with model: model,url: url do |form| %>
  <div class="relative">
    <button data-action="click->task#closePost" class="absolute top-0 right-0 pl-1 text-lg rounded-lg">
      <img class="inline p-2 w-9" alt="Lax" src="/assets/cross.png" />
    </button>

    <div class="flex p-1 pt-2">
      <label class="items-center text-lg text-gray-700 w-28 h-9 text-icon">任務名稱：</label>
      <%= form.text_field :title, :class=>"text-sm line-clamp-1 text-gray-700", placeholder: "輸入任務名稱" %>
    </div>

    <div class="flex p-1">
      <label class="items-center text-lg text-gray-700 w-28 h-9 text-icon"> 任務日期：</label>
      <%= form.text_field [:start_time, :end_time], data: { "task-target": "datepicker", action: "input->task#selectdate" }, placeholder: "輸入開始日期&截止日期",:class=>"text-sm line-clamp-1 text-gray-700" %>
    </div>

    <div class="flex p-1">
      <label class="items-center text-lg text-gray-700 w-28 h-9 text-icon"> 指派任務：</label>
      <%= form.collection_select(:user_id, user, :id, :username, {:prompt => '無指派對象'},:class=>"text-sm line-clamp-1 text-gray-700") %>
    </div>
    <div class="flex p-1">
      <label class="items-center text-lg text-gray-700 w-28 h-9 text-icon"> 優先順序：</label>
      <%= form.select(:priority,[['高','高'],['中','中'],['低','低']],{:prompt => '-'})%>
    </div>
    <div class="p-1">
      <label class="items-center block text-lg text-gray-700 w-28 h-9 text-icon"> 任務描述：</label>
      <%= form.text_area :content, :class=>"h-20 border border-transparent border-gray-300 focus:border-gray-400 rounded-md p-1 text-lg outline-none justify-center w-full resize-none", :cols=>"30", :rows=>"10"%>
    </div>
    <div class="p-2 text-center"><%= form.submit "送出任務", data: { action: "input->task#taskPost" }, :class=>" text-white no-underline bg-momo rounded hover:bg-kohbai text-lg p-2 cursor-pointer" %></div>
  </div>
  <% end %>
</div>

