<h1 class="m-3 text-2xl">Board</h1>
<div class="flex w-full h-full bg-light" style="--color: #5a7896">
  <main class="flex-1 overflow-auto bg-white">
    <section data-controller="board" data-project-id="<%= @project.id%>" class="relative flex px-6 py-4 overflow-x-auto gap-x-4 board-container">
      <% @columns.each do |column| %>
      <div class="flex flex-col flex-wrap flex-shrink-0 w-72" data-controller="task" data-column-id="<%= column.id %>">
        <header class="flex items-center justify-between mb-2 h-9">
          <h2 class="relative text-xl text-center column_status pb-9"><%= column.status %></h2>
          <%= form_with model: @new_column ,url: column_path(column),method: "patch" do |form| %> <%= form.text_field :status,:class=>"display column_update bg-gray-100 text-xl text-center pb-9" %> <% end
          %>
          <nav class="flex items-center gap-x-1 pb-9">
            <button class="flex items-center justify-center rounded w-7 h-7 text-icon hover:bg-hover"   data-action="click->task#display_change">
              <svg class="fill-current" height="16" focusable="false" viewBox="0 0 32 32">
                <path
                  d="M26,14h-8V6c0-1.1-0.9-2-2-2l0,0c-1.1,0-2,0.9-2,2v8H6c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h8v8c0,1.1,0.9,2,2,2l0,0c1.1,0,2-0.9,2-2v-8h8c1.1,0,2-0.9,2-2l0,0C28,14.9,27.1,14,26,14z"
                ></path>
              </svg>
            </button>
            <div class="z-10 group">
              <button data-action="click->board#column_display" class="flex items-center justify-center rounded w-7 h-7 text-icon hover:bg-hover group-focus-within:bg-hover">
                <svg class="fill-current" height="16" focusable="false" viewBox="0 0 32 32">
                  <path
                    d="M16,13c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S14.3,13,16,13z M3,13c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S1.3,13,3,13z M29,13c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S27.3,13,29,13z"
                  ></path>
                </svg>
              </button>
              <nav class="right-0 invisible py-1 transition-all translate-y-1 bg-white rounded opacity-0 top-full shadow-box w-45 group-focus-within:opacity-100 group-focus-within:visible"></nav>
              <div class="absolute flex flex-col column_display">
                <button data-action="click->board#updateColumn">重新命名區段</button>
                <%= link_to "刪除本區段",column,method: "delete",data: {confirm: "是否刪除本區段"} %>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex flex-col flex-1 max-h-full p-3 overflow-auto rounded-lg card-list gap-y-2" data-board-target="status_list" data-column-id="<%= column.id%>">
          <%= render "card", column: column, user: @user%>
          <button data-action="click->task#display_change" class="flex items-center justify-center flex-shrink-0 w-full text-sm font-medium transition-all rounded h-9 text-icon hover:bg-hover">
            <svg class="mr-2 fill-current" height="12" focusable="false" viewBox="0 0 24 24">
              <path d="M10,10V4c0-1.1,0.9-2,2-2s2,0.9,2,2v6h6c1.1,0,2,0.9,2,2s-0.9,2-2,2h-6v6c0,1.1-0.9,2-2,2s-2-0.9-2-2v-6H4c-1.1,0-2-0.9-2-2s0.9-2,2-2H10z"></path>
            </svg>
            新增任務
          </button>
        </div>
        <div class="fixed bottom-0 z-10 w-1/3 pb-2 m-3 bg-white rounded-md resize-none display" data-task-target="task_display">
          <%= render "TaskForm", model: [@project,@new_task],user: @user, url: create_task_column_path(column)%>
        </div>
      </div>
      <% end %> <%= form_with model:[@project,@new_column] ,url:project_columns_path(@project) do |form| %>
      <label>+ 新增階段</label>
      <%= form.text_field :status %> <% end %>
    </section>
  </main>
</div>
