<h1 class="m-3 text-2xl ">Board</h1>

<section data-controller="board" data-project-id="<%= @project.id%>">
  <button data-action="click->board#create"
          class="m-3 px-6 py-3 text-blue-100 no-underline bg-blue-500 rounded hover:bg-blue-600 hover:underline hover:text-blue-200 relative">+新增任務</button>
  <div class="dispaly m-3 w-1/3 rounded-md resize-none pb-2 absolute z-10 bg-white rounded-md" data-board-target="task_create_display"><%= render "TaskForm", model: [@project,@task],user: @user, url: project_tasks_path(@project) %></div>
  <div class="flex justify-around bg-gray-200 my-3">
    <div class="card-list todo mx-4 w-1/4" data-board-target="todo">
    <h2 class="text-xl text-center">待辦事項</h2>
    <%= render "card",tasks: @task_todo %>
  </div>

  <div class="card-list doing mx-4 w-1/4" data-board-target="doing">
    <h2 class="text-xl text-center">進行中</h2>
    <%= render "card",tasks: @task_doing %>
  </div>

  <div class="card-list done mx-4 w-1/4" data-board-target="done">
    <h2 class="text-xl text-center">已完成</h2>  
    <%= render "card",tasks: @task_done %>
  </div>

  </div>

</section>