<main class="flex-1 bg-white overflow-auto">
  <header class="h-[6.188rem] flex px-6 items-center justify-between border-b border-gray-200">
    <div class="w-full flex items-center justify-between">
      <h1 class="text-xl font-semibold py-4">行事曆</h1>
      <%= render "shared/header.html.erb" %>
    </div>
  </header>
  <section>
      <div data-controller="burndown" data-project-id="<%= @project.id %>" data-task-count="<%= @task %>" data-project-start="<%= @start_time %>" data-project-end="<%= @end_time %>" data-task-done-count="<%= @task_done %>">
        <canvas id="myChart" data-burndown-target="chart"  width="400" height="400"></canvas>
      </div>
  </section>
</main>
