<header class="flex items-center justify-between h-24 px-6 border-b border-gray-200">
  <div class="flex items-center w-full"><%= render "shared/header" %></div>
</header>

<main class="flex justify-center project_show" data-controller="overview" data-project-id="<%= @project.id%>">
  <section class="grid mx-auto mt-7">
    <div class="m-4 rounded">
      <h2 class="p-2 text-3xl font-semibold">專案介紹</h2>
      <p class="block p-2 project_content">
        <% if @project.content.present? %> <%= @project.content %> <% else %>
        <span>歡迎您的團隊，並為團隊在Lax中的工作方式奠定基調。新增會議詳細資料、溝通管道以及其他重要資訊。</span>
        <% end %>
      </p>
    </div>
    <div class="project_user">
      <h3>專案成員</h3>
      <div class="flex flex-wrap w-full">
        <button class="flex items-center w-56 p-2 text-base font-semibold text-gray-600 transition-all rounded-md hover:bg-hover" data-action="click->overview#join_display">
          <div class="flex items-center justify-center w-8 h-8 mr-3 border border-dashed rounded-full border-icon text-icon">
            <svg class="fill-current" height="16" focusable="false" viewBox="0 0 32 32">
              <path
                d="M26,14h-8V6c0-1.1-0.9-2-2-2l0,0c-1.1,0-2,0.9-2,2v8H6c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h8v8c0,1.1,0.9,2,2,2l0,0c1.1,0,2-0.9,2-2v-8h8c1.1,0,2-0.9,2-2l0,0C28,14.9,27.1,14,26,14z"
              ></path>
            </svg>
          </div>
          加入成員
        </button>
        <% @project.users.each do |user| %>
        <button class="relative flex items-center w-56 p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:pr-6">
          <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 mr-3 text-sm font-semibold text-white bg-blue-500 rounded-full"><%= user.username.first(2) %></div>
          <div class="text-left">
            <div class="line-clamp-1"><%= user.username %></div>
            <% if user.id == @project.owner_id %>
            <div class="text-xs text-gray-400">Project Owner</div>
            <% end %>
          </div>
          <span class="absolute top-0 flex items-center h-full transition-all opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 right-2">
            <svg class="fill-current" height="12" focusable="false" viewBox="0 0 24 24">
              <path
                d="M3.5,8.9c0-0.4,0.1-0.7,0.4-1C4.5,7.3,5.4,7.2,6,7.8l5.8,5.2l6.1-5.2C18.5,7.3,19.5,7.3,20,8c0.6,0.6,0.5,1.5-0.1,2.1 l-7.1,6.1c-0.6,0.5-1.4,0.5-2,0L4,10.1C3.6,9.8,3.5,9.4,3.5,8.9z"
              ></path>
            </svg>
          </span>
        </button>
        <% end %>
      </div>
    </div>
    <p class="m-4 bg-gray-100 w-50" data-action="input->overview#input_project_target" 
    data-overview-target="project_target"
    contenteditable><%= @project.target %></p>
    
  </section>
  <div data-controller="join" data-id="<%= @project.id %>" data-overview-target="joinMail" class="absolute z-10 p-4 m-auto bg-white border rounded-lg shadow top-52 join">
    <h4 class="text-lg">分享專案計劃</h4>
    <div class="text-base">透過電子信箱邀請</div>
    <div class="flex p-2">
      <input class="border-2 rounded shadow" data-join-target="email" type="text" placeholder="請輸入邀請者電子信箱" />
      <button data-action="click->join#join_member" class="text-base text-white border-2 rounded shadow bg-momo hover:bg-kohbai">加入成員</button>
    </div>
  </div>
</main>
