<header class="flex items-center justify-between h-24 px-6 border-b border-gray-200">
  <div class="flex items-center w-full"><%= render "shared/header" %></div>
</header>

<main class="relative flex justify-around project_show" data-controller="overview" data-project-id="<%= @project.id%>">
  <section class="mx-auto mt-7">
    <div class="w-full m-4 rounded">
      <h2 class="p-2 text-3xl font-semibold">
        <img src="/assets/writer" class="inline w-12" />
        專案內容
      </h2>
      <p class="p-2 border rounded-md project_content" contenteditable data-overview-target="content" data-action="input->overview#change_content"><%= @project.content %></p>
      <div class="mt-16 project_user">
        <h3 class="p-2 text-3xl font-semibold"><img src="/assets/member" class="inline w-12 mb-3 mr-2" />專案成員</h3>
        <div class="flex flex-wrap w-full">
          <button class="flex items-center w-56 h-20 p-2 mx-4 text-lg font-semibold text-gray-600 transition-all rounded-md hover:bg-hover" data-action="click->overview#join_open">
            <div class="flex items-center justify-center w-12 h-12 mr-3 border border-dashed rounded-full border-icon text-icon">
              <svg class="fill-current" height="16" focusable="false" viewBox="0 0 32 32">
                <path
                  d="M26,14h-8V6c0-1.1-0.9-2-2-2l0,0c-1.1,0-2,0.9-2,2v8H6c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h8v8c0,1.1,0.9,2,2,2l0,0c1.1,0,2-0.9,2-2v-8h8c1.1,0,2-0.9,2-2l0,0C28,14.9,27.1,14,26,14z"
                ></path>
              </svg>
            </div>
            加入成員
          </button>
          <% @project.users.each do |user| %>
          <div class="relative mx-4 group">
            <button class="relative flex items-center w-56 h-20 p-2 text-sm font-semibold text-gray-600 transition-all rounded-md hover:pr-6 hover:bg-gray-200">
              <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 mr-3 text-lg font-semibold text-white bg-blue-500 rounded-full"><%= user.username.first(2) %></div>
              <div class="text-left">
                <div class="text-lg line-clamp-1"><%= user.username %></div>
                <% if user.id == @project.owner_id %>
                <span class="text-base text-gray-400">專案所有人</span>
                <% end %>
              </div>
              <span class="absolute top-0 flex items-center h-full transition-all opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 right-2">
                <svg class="fill-current" height="12" focusable="false" viewBox="0 0 24 24">
                  <path
                    d="M3.5,8.9c0-0.4,0.1-0.7,0.4-1C4.5,7.3,5.4,7.2,6,7.8l5.8,5.2l6.1-5.2C18.5,7.3,19.5,7.3,20,8c0.6,0.6,0.5,1.5-0.1,2.1 l-7.1,6.1c-0.6,0.5-1.4,0.5-2,0L4,10.1C3.6,9.8,3.5,9.4,3.5,8.9z"
                  ></path>
                </svg>
              </span>
            </button>
            <nav
              class="absolute left-0 z-10 invisible min-w-full py-1 transition-all translate-y-1 bg-white rounded opacity-0 top-full whitespace-nowrap group-focus-within:opacity-100 group-focus-within:visible shadow-box"
            >
              <% if user.id == @project.owner_id %> <%= link_to "移除專案所有者身份",remove_owner_project_path,method: "delete",:class=>"flex items-center px-4 text-sm text-red-600 h-9 hover:bg-light"
              %> <% else %> <%= link_to "設定為專案所有者",change_owner_project_path(@project,user_id: user.id),method: "post",:class=>"flex items-center px-4 text-sm text-black h-9 hover:bg-light" %>
              <% end %> <%= link_to "從專案中移除",kick_out_project_path(user,project_id: @project.id),method: "delete",data: {confirm: "是否將此人退出專案"},:class=>"flex items-center px-4 text-sm
              text-red-600 h-9 hover:bg-light" %>
            </nav>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </section>

  <div class="absolute rounded-md right-10 top-11">
    <div class="relative mx-4 group">
      <button class="relative flex items-center text-sm font-semibold text-gray-600 rounded-md hover:bg-gray-200"><img class="inline w-12" src="/assets/settings.png" alt="" /></button>
      <nav
        class="absolute right-0 z-10 invisible min-w-full transition-all translate-y-1 bg-white rounded opacity-0 top-full whitespace-nowrap group-focus-within:opacity-100 group-focus-within:visible shadow-box"
      >
        <%= link_to "修改專案",edit_project_path(@project),:class=>"flex items-center px-4 text-sm h-9 hover:bg-light"%> <%= link_to "刪除專案",project_path(@project),method: "delete",data: { confirm:
        "是否刪除本專案？" },:class=>"flex items-center px-4 text-sm h-9 hover:bg-light text-red-500" %>
      </nav>
    </div>
  </div>

  <div data-controller="join" data-id="<%= @project.id %>" data-overview-target="joinMail" class="absolute z-10 p-4 m-auto bg-white border-2 rounded-lg shadow top-52 join">
    <div class="flex justify-between my-4">
      <button class="absolute top-1 right-1" data-action="click->overview#join_close"><img class="inline p-2 w-9" alt="Lax" src="/assets/cross.png" /></button>
      <h3 class="p-2 text-2xl font-semibold">分享專案計劃</h3>
    </div>
    <div class="p-2 mt-4 text-xl">邀請專案成員</div>
    <div class="flex p-2 mt-4 justify-bewteen">
      <input class="p-2 mr-4 border-2 rounded shadow w-80" data-join-target="email" type="text" placeholder="請輸入邀請專案成員電子信箱" />
      <button data-action="click->join#join_member" class="p-2 text-base text-white border-2 rounded shadow bg-momo hover:bg-kohbai">加入成員</button>
    </div>
  </div>
</main>
