<div class="min-h-full flex items-center justify-center py-12 px-8 sm:px-6 lg:px-8 ">
  <div class="max-w-md w-2/5 space-y-8 py-8 px-10 bg-white shadow-md	rounded-md">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://www.benchmarkemail.com/wp-content/uploads/2019/11/slack.png" alt="Workflow"/>
      <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-gray-900 mb-8 ">Log in to Lax</h2>
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4  mb-5 border border-gray-100 bg-coolGray-100 flex-1 hover:bg-coolGray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-coolGray-50">
        <img src="https://img.icons8.com/fluency/48/40C057/google-logo.png" class="absolute left-5 inset-y-2 w-5"/>
        <span >
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post, class: "font-medium rounded-md	text-gray text-sm" %>
            <% end %>
          <% end %>
        </span>
      </button>
      <p class="mt-2 text-center text-sm text-gray-600">Or</p>
    </div>

    <form class="mt-8 space-y-6" action="#" method="POST">
      <input type="hidden" name="remember" value="true">
      <div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="rounded-md shadow-sm -space-y-px">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Email address", name: "email", type: "email" %>
          </div>

          <div>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password",  autocomplete: "current-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Password", id: "password", name:"password", type:"password" %>
          </div>

          <div class="py-4">
            <%= f.submit "Log in", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </span>
          </div>

          <div class="flex items-center justify-center py-4">
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded", name: "remember-me"%>
              <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <p class="text-sm mt-7 text-center">
        Don't have an account? 
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name),  class: "text-blue-600" %>
        <% end %>
      </p>

      <div class="text-sm text-center">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
        <% end %>
      </div>

      <p class="text-xs text-center text-gray-400">
        This site is protected by reCAPTCHA and the Google <a href="" class="underline">Privacy Policy</a> and <a href="" class="underline">Terms of Service</a> apply.
      </p>
    </form>
  </div>
</div>

<ul class="flex flex-wrap max-w-md w-2/5 m-auto	justify-center list-disc text-xs text-center text-gray-400 mb-10">
  <li class="pr-5">Asana.com</li>
  <li class="pr-5">Support</li>
  <li class="pr-5">Integrations</li>
  <li class="pr-5">Forum</li>
  <li class="pr-5">Developers & API</li>
  <li class="pr-5">Resources</li>
  <li class="pr-5">Guide</li>
  <li class="pr-5">Templates</li>
  <li class="pr-5">Pricing</li>
  <li class="pr-5">Terms</li>
  <li class="pr-5">Privacy</li>
</ul>
